<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>acc management</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h1>High Tech Account Management System</h1>
        <p>Pick a page to visit in the navigation bar above.</p>
    </div>
</body>

</html>