<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <title>User Info</title>
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container" style="max-width: 400px;">
    <h2>Update Account</h2>
    <form id="updateAccountForm" class="mt-4">
        <div class="form-group">
            <label for="accountId">Account ID:</label>
            <input type="text" class="form-control" id="accountId">
        </div>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth:</label>
            <input type="date" class="form-control" id="dateOfBirth">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="form-group">
            <label for="gender">Gender:</label>
                <select class="form-control" id="gender" name="gender" required>
                    <option value="0">Male</option>
                    <option value="1">Female</option>
                    <option value="2">Prefer not to say</option>
                </select>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="receiveNewsletters">
            <label class="form-check-label" for="receiveNewsletters">Receive Newsletters</label>
        </div>
        <button type="submit" class="btn btn-primary">Update Account</button>
    </form>
    <button id="delete-account" class="btn btn-danger mt-4 mr-4">Delete this account</button>
    <button id="fetch-account-info" class="btn btn-info mt-4">Fetch Account Info</button>
    <div id="account-info" class="mt-3"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var userid = "{{ user_id }}";  // 获取用户 ID
            $("#fetch-account-info").click(function () {
                $.get("/get_account_info?userid=" + userid, function (data, status) {
                    var accountInfoHtml = "";
                    for (var key in data) {
                        accountInfoHtml += "<div class='d-flex'>" + "<p class='text-primary'>" + key  + "</p>" + ":" + "<p class='text-secondary'>" + data[key] + "</p>" + "</div>";
                    }
                    $("#account-info").html(accountInfoHtml);
                });
            });

            $("#delete-account").click(function () {
                $.ajax({
                    url: '/delete_account?account_id=' + userid,
                    type: 'DELETE',
                    success: function (result) {
                        alert(result.message);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });
            $("#updateAccountForm").submit(function (e) {
                e.preventDefault();
                var accountData = {
                    first_name: $("#firstName").val(),
                    last_name: $("#lastName").val(),
                    date_of_birth: $("#dateOfBirth").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    gender: $("#gender").val(),
                    receive_newsletters: $("#receiveNewsletters").is(":checked"),
                    id: $("#accountId").val()
                };
                $.ajax({
                    url: "/update_account",
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ account_id: $("#accountId").val(), account: accountData }),
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });

            // 获取用户的现有账户信息
            $.get("/get_account_info?userid=" + userid, function (data, status) {
                // 使用获取到的数据填充表单
                $("#accountId").val(userid);
                $("#firstName").val(data.first_name);
                $("#lastName").val(data.last_name);
                $("#dateOfBirth").val(new Date(data.date_of_birth).toISOString().substring(0, 10));
                $("#email").val(data.email);
                $("#password").val(data.password);
                $("#gender").val(data.gender);
                $("#receiveNewsletters").prop('checked', data.receive_newsletters);
            });
        });
    </script>

</body>

</html>