<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Logged in with ID of: {{ user_id }}</p>
    <button id="delete-account">Delete this account</button>
    <button id="fetch-account-info">Fetch Account Info</button>
    <div id="account-info"></div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $("#fetch-account-info").click(function(){
            var userid = "{{ user_id }}";  // 获取用户 ID
            $.get("/get_account_info?userid=" + userid, function(data, status){
                var accountInfoHtml = "";
                for (var key in data) {
                    accountInfoHtml += "<p>" + key + ": " + data[key] + "</p>";
                }
                $("#account-info").html(accountInfoHtml);
            });
        });

        $("#delete-account").click(function(){
        var userid = "{{ user_id }}";  // 获取用户 ID
        $.ajax({
            url: '/delete_account?account_id=' + userid,
            type: 'DELETE',
            success: function(result) {
                alert(result.message);
            },
            error: function(xhr, status, error) {
                alert('Error: ' + error);
            }
        });
    });
    });
    </script>

</body>
</html>