<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <p>Logged in with ID of: {{ user_id }}</p>
    <h2>Update Account</h2>
    <form id="updateAccountForm">
        Account ID: <input type="text" id="accountId"><br>
        First Name: <input type="text" id="firstName"><br>
        Last Name: <input type="text" id="lastName"><br>
        Date of Birth: <input type="date" id="dateOfBirth"><br>
        Email: <input type="email" id="email"><br>
        Password: <input type="password" id="password"><br>
        Gender: <input type="number" id="gender"><br>
        Receive Newsletters: <input type="checkbox" id="receiveNewsletters"><br>
        <input type="submit" value="Update Account">
    </form>
    <button id="delete-account">Delete this account</button>
    <button id="fetch-account-info">Fetch Account Info</button>
    <div id="account-info"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#fetch-account-info").click(function () {
                var userid = "{{ user_id }}";  // 获取用户 ID
                $.get("/get_account_info?userid=" + userid, function (data, status) {
                    var accountInfoHtml = "";
                    for (var key in data) {
                        accountInfoHtml += "<p>" + key + ": " + data[key] + "</p>";
                    }
                    $("#account-info").html(accountInfoHtml);
                });
            });

            $("#delete-account").click(function () {
                var userid = "{{ user_id }}";  // 获取用户 ID
                $.ajax({
                    url: '/delete_account?account_id=' + userid,
                    type: 'DELETE',
                    success: function (result) {
                        alert(result.message);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });
            $("#updateAccountForm").submit(function (e) {
                e.preventDefault();
                var accountData = {
                    first_name: $("#firstName").val(),
                    last_name: $("#lastName").val(),
                    date_of_birth: $("#dateOfBirth").val(),
                    email: $("#email").val(),
                    password: $("#password").val(),
                    gender: $("#gender").val(),
                    receive_newsletters: $("#receiveNewsletters").is(":checked"),
                    id: $("#accountId").val()
                };
                $.ajax({
                    url: "/update_account",
                    type: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify({ account_id: $("#accountId").val(), account: accountData }),
                    success: function (data) {
                        alert(JSON.stringify(data));
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            });
        });
    </script>

</body>

</html>