<!DOCTYPE html>
<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container text-center mx-auto p-4 rounded-lg" style="max-width: 400px; box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);">
        <h3 class="mb-4">Welcome back!</h3>
        <hr/>
        {% if error %}
            <p class="text-danger">{{error}}</p>
        {% endif %}
        <form action="/login" method="post">
            <div class="form-group text-left">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>
            <div class="form-group text-left">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
        <div class="d-flex flex-row mt-4" style="margin-left: 70px;">
            <p>Don't have an account?</p>
            <a class="ml-2" href="/signup">Sign up</a>
        </div>
    </div>
</body>

</html>